@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@100..900&display=swap');

:root {
    --color-neutral-0: #0e0c0c;
    --color-neutral-10: #171717;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #f5f5f5;

}

* {
    margin: 0PX;
    padding: 0PX;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    letter-spacing: 1px;
}

P {
    margin: 15px 0px 15px 0px;
}
.menuh1{
    margin: 0px auto 20px auto;
    max-width: 600px;
    text-align: center;
}

form{
    max-width: 600px;
    margin: 0px auto 20px auto;
}
fieldset{
    margin: auto;
    border-radius: 18px;
    padding: 15px;
    width: 100px;
    display: block;
}
fieldset div{
    margin-bottom: 15px;
}
h2{
    margin-bottom: 10px;
}

#footer_content{
    height:150px;
}
#footer{
    position: relative;
}

.main-botao{
    max-width: 600px;
    margin: 0px auto 20px auto;
}

.continuar{
    max-width: 155px;
    margin: auto;
}

button{
    padding: 10px;
    border-radius:8px;
    background-color:black;
    color:white;
    margin: 5px auto;
}


@media (max-width: 970px) {
    .menu section {
        max-width: 80%;
    }
    .menuh1{
        max-width: 80%;
    }
    form fieldset{
        max-width: 470px;
        margin: auto;
    }
    fieldset div{
        display: grid;
    }
    fieldset div input{
        margin-left: 25px;
        margin-right: 20px;
    }
    
    .res{
        margin-right: 20px;
        margin-bottom: 20px;
    }
    .menuh1 form h2{
        margin-left: 10px;
    }
}

@media screen and (max-width: 500px) {
    form{
        max-width: 500px;
        margin: auto;
    }
    form fieldset{
        max-width: 500px;
        margin: 95%$;
        display: flexbox;
    }
    
}