@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@100..900&display=swap');

:root {
    --color-neutral-0: #0e0c0c;
    --color-neutral-10: #171717;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #f5f5f5;

}

* {
    margin: 0PX;
    padding: 0PX;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    letter-spacing: 1px;
}

P {
    margin: 15px 0px 15px 0px;
}

header {
    background-color: #FFF212;
    height: 115px;
    padding-top: 10px;
    padding-bottom: 0px;
}

header main {
    background-color: #FFF212;
    width: 900px;
    margin: auto;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 90px;

}

header main h1 {
    margin-left: 67px;
    font-size: 1.8em;
    padding-top: 5px;
    margin-top: 0px;
}

header main img {
    width: 100px;
    margin-top: -40px;
    margin-left: -35px;
}

header main p {
    margin-left: 73px;
    margin-top: -64px;
    font-size: 1.4em;
}

.menuh1{
    margin:auto;
    width: 900px;
    text-align: center;
}
.menuh1 h1{
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    font-size: 26px;
}
.conc{
    box-shadow: 0px 0px 4px black;
    padding: 5px;
    margin-top: 50px;
    border-radius: 10px;
    font-size: 18px;
}

.btnc{
    padding: 10px;
    margin-top: 50px;
    border-radius: 10px;
    font-weight: bold;
    background-color: black;
    color: white;
}
.btnc:hover{
    padding: 10px;
    margin-top: 50px;
    border-radius: 10px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.651);
    color: white;
    cursor: pointer;
}

@media (max-width: 970px) {
    header main {
        width: 80%;
    }
    .menuh1{
        width: 375px;
        margin: left;
        
    }
    .conc{
        margin-top: 0px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .btnc{
        margin-top: 45px;
        margin-bottom: 15px;
    }
}


footer {
    position: fixed;
    bottom: 0;
    left: 0%;
    color: var(--color-neutral-40);
}

.footer-link {
    text-decoration: none;
    color: white;
}

.footer-links {
    text-decoration: none;
    color: white;
}

#footer_content {
    background-color: var(--color-neutral-0);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 1rem 3rem;
    height: 150px;

}

#footer_contacts {
    margin-bottom: 0.75rem;
}

#footer_social_media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 50%;
    transition: 0.4s;
}

#footer_social_media .footer-link i {
    font-size: 1.25rem;
}

#footer_social_media .footer-link:hover {
    opacity: 0.8;
}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
    text-decoration: none;
}

#facebook {
    background-color: #4267b3;
    text-decoration: none;
}

.footer_list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;

}
.footer-link:hover{
    text-decoration: underline;
}
.footer-links:hover{
    text-decoration: underline;
}

#footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#footer_subscribe p {
    color: var(--color-neutral-40);
}

#input_group {
    display: flex;
    align-items: center;
    background-color: 4px;
    border-radius: 4px;
}

#input_group input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    border-radius: 4px;
}

#input_group button {
    background-color: #8a8984;
    border: none;
    color: var(--color-neutral-40);
    padding: 0px 1.25rem;
    height: 21;
    border-radius: 4px 4px 4px 4px;
    cursor: pointer;
    transition: all 0.4s;
}

#input_group button:hover {
    opacity: 0.8;
}

#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: var(--color-neutral-0);
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}

@media screen and (max-width:768px) {
    #footer_content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    #input_group input {
        border-top: 2px solid rgb(0, 0, 0);
        border-bottom: 2px solid rgb(0, 0, 0);
        border-left: 2px solid rgb(0, 0, 0);
        border-radius: 4px;

    }

    #footer {
        position: relative;
    }

    #footer_subscribe {
        color: black;
    }

    #footer_subscribe p {
        color: black;
    }

    .footer-links {
        color: black;
        text-decoration: none;
    }

    #pro {
        color: black;
    }
    .footer-links:hover {
        color: black;
        text-decoration: underline;
    }
    .footer-link:hover {
        text-decoration: underline;
    }


}

@media screen and (max-width:375px) {
    #footer_content {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2;
        
    }

    #input_group input {
        border-top: 2px solid rgb(0, 0, 0);
        border-bottom: 1px solid rgb(0, 0, 0);
        border-left: 2px solid rgb(0, 0, 0);
        border-radius: 4px;
        margin-bottom: 15px;
    }

    #footer {
        position: relative;
    }

    #footer_subscribe p {
        color: black;
    }

    .footer-links {
        color: black;
    }

    #pro {
        color: black;
    }
    .footer-links:hover {
        color: black;
        text-decoration: underline;
    }
    #input_group button {
        background-color: #8a8984;
        border: none;
        color: var(--color-neutral-40);
        padding: 0px 1.25rem;
        height: auto;
        border-radius: 4px 4px 4px 4px;
        cursor: pointer;
        transition: all 0.4s;
    }
}