@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@100..900&display=swap');

:root {
    --color-neutral-0: #0e0c0c;
    --color-neutral-10: #171717;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #f5f5f5;

}

* {
    margin: 0PX;
    padding: 0PX;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    letter-spacing: 1px;
}

P {
    margin: 15px 0px 15px 0px;
}

header {
    background-color: #FFF212;
    height: 115px;
    padding-top: 10px;
    padding-bottom: 0px;
}

header main {
    background-color: #FFF212;
    width: 900px;
    margin: auto;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 90px;

}

header main h1 {
    margin-left: 67px;
    font-size: 1.8em;
    padding-top: 5px;
    margin-top: 0px;
}

header main img {
    width: 100px;
    margin-top: -40px;
    margin-left: -35px;
}

header main p {
    margin-left: 73px;
    margin-top: -64px;
    font-size: 1.4em;
}

.menuh1{
    margin:auto;
    width: 900px;
    text-align: center;
}
.menuh1 h1{
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    font-size: 26px;
}
.conc{
    box-shadow: 0px 0px 4px black;
    padding: 5px;
    margin-top: 50px;
    border-radius: 10px;
    font-size: 18px;
}

.btnc{
    padding: 10px;
    margin-top: 50px;
    border-radius: 10px;
    font-weight: bold;
    background-color: black;
    color: white;
}
.btnc:hover{
    padding: 10px;
    margin-top: 50px;
    border-radius: 10px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.651);
    color: white;
    cursor: pointer;
}

@media (max-width: 970px) {
    header main {
        width: auto;
    }
    .menuh1{
        width: 80%;
    }
    .conc{
        width: auto;
        margin: auto;
    }
    .btnc{
        margin-top: 45px;
        margin-bottom: 15px;
    }
}